<h1 style="color:blue">
    Upload File AWS
</h1>

<form method="post" enctype="multipart/form-data">
    <label>Seleccione un fichero: </label>
    <input type="file" name="file" class="form-control"/>
    <button type="submit" class="btn btn-info">
        Upload File
    </button>
</form>